@import "tailwindcss";

html,
body,
#root{
    height:100%;
}

body{

    margin:0;

    font-family:Inter,sans-serif;

    background:#eef4fa;

    color:#1e293b;
}

*{
    box-sizing:border-box;
}

::-webkit-scrollbar{

    width:8px;
}

::-webkit-scrollbar-thumb{

    background:#94a3b8;

    border-radius:20px;
}